<div style = "width:100%; background-color: #565754; height:30px">
  <div style = "display:inline-flex; color:white"><a href = "/urls">All URL's</a></div>
  <div style = "display: inline-flex;"><a href = "/urls/new">Create a new URL</a></div>
</div>